{% load static %}
{#{% load notifications_tags %}#}

{# MAIN HEADER ------------------------------------------------------------------------------------------------------ #}
<style>
    a{
        color: white;
        fontweight: bold;
    }

</style>


<header id="page-topbar">
    <div class="navbar-header">

        {# LEFT HEAD ------------------- #}
        <div class="d-flex">
            <div class="navbar-brand-box">
                <a href="/" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="{% static 'core/images/logo_1000.png' %}" alt="" height="44">
                    </span>
                    <span class="logo-lg">
                        <img src="{% static 'core/images/logo_1000.png' %}" alt="" height="34">
                    </span>
                </a>

                <a href="/" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="{% static 'core/images/logo_1000.png' %}" alt="" height="44">
                    </span>
                    <span class="logo-lg">
                        <img src="{% static 'core/images/logo_1000.png' %}" alt="" height="38">
                    </span>
                </a>
            </div>
            <h5 class="align-bottom mt-auto mb-auto" style="color: white">Pak E-Post</h5>

            <button type="button" class="btn btn-sm px-3 font-size-16 d-lg-none header-item waves-effect waves-light"
                    data-toggle="collapse" data-target="#topnav-menu-content">
                <i class="fa fa-fw fa-bars"></i>
            </button>

        </div>

        {# RIGHT HEAD ------------------ #}
        <div class="d-flex">

            <a style="margin-top: 20px;" class="nav-link" href="{% url 'admins:dashboard' %}">
                <span><i class="bx bx-home-circle mr-2"></i>Dashboard</span>
            </a>


            {% if request.user.is_superuser %}
                <a style="margin-top: 20px;" class="nav-link dropdown-toggle arrow-none" href="{% url 'admins:parcel' %}">
                    <i class="bx bx-box mr-2"></i>Parcels
                </a>
            {% else %}
                <a style="margin-top: 20px;" class="nav-link dropdown-toggle arrow-none" href="{% url 'customer:parcel' %}">
                    <i class="bx bx-box mr-2"></i>Parcels
                </a>
            {% endif %}

            {% if request.user.is_superuser %}
                <a style="margin-top: 20px;" class="nav-link dropdown-toggle arrow-none" href="/a/user/customers/">
                    <i class='bx bxs-user'></i> Customers
                </a>
            {% endif %}

            {% if request.user.is_superuser %}
                <a style="margin-top: 20px;" class="nav-link" href="/a/user/managers/">
                    <i class='bx bx-server'></i> Service Managers
                </a>
            {% endif %}

            {% if request.user.is_superuser %}
                <a style="margin-top: 20px;" class="nav-link" href="/a/user/postmen/">
                   <i class='bx bxs-user-badge'></i> Postmen
                </a>
            {% endif %}


            {# USER ONLINE -------------------------------------------------------- #}

            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    {% if request.user.profile_image %}
                        <img class="rounded-circle header-profile-user" src='{{ request.user.profile_image.url }}'
                             alt="Header Avatar">
                    {% else %}
                        <img class="rounded-circle header-profile-user" src="{% static 'core/images/no-user.png' %}">
                    {% endif %}


                    <span class="d-none d-xl-inline-block ml-1">{{ request.user.username }}</span>
                    <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{% url 'accounts:user-change' %}">
                        <i class="bx bx-user font-size-16 align-middle mr-1"></i> Profile
                    </a>
                    {% if request.user.is_student %}
                        <a class="dropdown-item d-block" href="#">
                            <i class="bx bx-wrench font-size-16 align-middle mr-1"></i> Settings
                        </a>
                    {% endif %}
                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" href="{% url 'account_email' %}">
                        <i class="bx bxl-telegram font-size-16 align-middle mr-1"></i> Email accounts
                    </a>
                    <a class="dropdown-item" href="{% url 'account_change_password' %}">
                        <i class="bx bx-lock-open font-size-16 align-middle mr-1"></i>Password Change
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-primary" href="{% url 'account_logout' %}">
                        <i class="bx bx-power-off font-size-16 align-middle mr-1"></i> Logout
                    </a>
                </div>
            </div>

            {# USER INFO ---------------------------------------------------------- #}

        </div>

    </div>
</header>

{# SUB HEADER ------------------------------------------------------------------------------------------------------- #}