body {
    font-family: 'Ubuntu', sans-serif;
    background: rgb(31, 31, 31);
    background: linear-gradient(90deg, rgba(31, 31, 31, 1) 0%, rgba(71, 67, 67, 1) 50%, rgba(31, 31, 31, 1) 100%);
}

p {
    color: white;
}

#bdy, #bdy1 {
    color: white !important;
    background: #525050;
}

#home, footer {
    background: rgb(31, 31, 31);
    background: linear-gradient(90deg, rgba(31, 31, 31, 1) 0%, rgba(71, 67, 67, 1) 50%, rgba(31, 31, 31, 1) 100%);
}

footer a {
    font-weight: bold;
    text-decoration: none;
    color: white !important;
}

h1, h2 {
    color: forestgreen;
    font-weight: bold;
    -webkit-text-stroke: black 1px;
}

#h3green {
    color: forestgreen;
}

h3 {
    color: white;
    font-weight: bold;
    -webkit-text-stroke: black 1px;
}

span {
    -webkit-text-stroke: black 1px;
    color: #FEC506;
    font-weight: bolder;
}

.title:hover {
    transition: 0.2s;
    transform: scale(1.1, 1.1);
}

#frame {
    height: 400px;
}

#FirstSlider {
    margin-bottom: 30px;
}

.twt {
    display: flex;
    height: 30px;
    width: 30px;
    margin: 0 15px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: transform 0.5s;
}

.twt i {
    font-size: 20px;
    transition: transform 0.5s;
}

.twt:hover {
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), inset -0.5px -0.5px 0px rgba(255, 255, 255, 1), inset 0.5px 0.5px 0px rgba(255, 255, 255, 0.15), inset 0px 12px 10px -10px rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.01);
    transform: translateY(2px);
}

.twt:hover i {
    transform: scale(0.90);
}

.twt:hover .fa-facebook {
    color: #3b5998;
}

.twt:hover .fa-twitter {
    color: #00acee;
}

.twt:hover .fa-instagram {
    color: #f14843;
}


body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

body::-webkit-scrollbar-track {
    background-color: #222222;
}

body::-webkit-scrollbar-thumb {
    background-color: #FEC506;
    outline: 1px solid black;
    border-radius: 5px;
}