{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block base_title %}
    Add Postman
{% endblock %}


{% block content %}
<style>
h4{
    color: white;
}
    body{
        background: rgb(31,31,31);
        background: linear-gradient(90deg, rgba(31,31,31,1) 0%, rgba(71,67,67,1) 50%, rgba(31,31,31,1) 100%);
}

body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

    body::-webkit-scrollbar-track {
        background-color: #222222;
    }

    body::-webkit-scrollbar-thumb {
        background-color: #FEC506;
        outline: 1px solid black;
        border-radius: 5px;
    }
</style>
    {# SAME FOR ALL #}
    <div class="row justify-content-center">
        <div class="col-6">

            <div class="card">
                <div class="card-body">

                    <form action="" method="post">
                        {% csrf_token %}
                        <input required id="phone" name="phone" class="form-control mb-2" type="text" placeholder="Phone">
                        <input required id="name" name="name" class="form-control mb-2" type="text" placeholder="Name">
                        <input required id="cnic" name="cnic" class="form-control mb-2" type="text" placeholder="CNIC">
                        <input id="email" name="email" class="form-control mb-2" type="text" placeholder="Email">
                        <textarea required id="address" name="address" class="form-control mb-2" placeholder="Address"></textarea>
                        <div>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-user-plus"></i> Create
                            </button>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>

{% endblock %}